html{
  background-color: yellow;
}

.mainnav a{
    margin-top: 30px;
    position: relative;
    font-size: 50px;
    font-style: normal;
    background-color: green;

  }

input{

  margin-left: 80%;
  height: 7%;
  width: 20%;
  text-align: center;
  float:left;
  border-radius: 17px;

}
button{
  margin-left: 80%;
  margin-top: 0%;
  color: blue;



}

h1{
  margin-top: 20%;
  margin-left: 40%;
  font-style: normal;
}
